
        body {
            box-sizing: border-box;
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
            background: #333;
            color: #fff;
            font-size: 1.1em;
            line-height: 1.5;
            text-align: center;
        }
        button {
            cursor: pointer;
        }
        h1, h2, h3 {
            margin: 0;
            padding: .5em 0;
        }
        .down-arrow{
            padding-top: 0;

        }
        h5 {
            padding-top: 20px;
        }
        img {
            display: block;
            width: 100%;
            height: auto;
        }
        p {
            margin: 0;
            padding: .5em;
            padding-top: .25em;
            font-weight: bold;
        
        }
        #start-form {
            min-height: 550px;
            text-align: center;
            border-bottom: 4px solid black;
        }
        .start-info{
            color: black;
            background-color: #fff;
            
        }
        #start-form .bg-image {
            position: absolute;
            background: #333 url("./img/IMG_1910.JPG");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 600px;
            z-index: -1;
            opacity: .8;
        }
        #start-form h1 {
            padding-bottom: 0;
            font-size: 30px;
        }
        #start-form .form-info-wrap {
            padding: 0 1.5em;
        }
        
        #back-button {
            width: 100%;
            height: 25px;
            background: #333;
            border: #333;
            color: #fff;
            font-size: 13px;
        }
        #button-nav {
            padding: 2em 1em 1em;
        }
        #button-nav ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        #button-nav li {
            margin-bottom: 1em;
            background: #fff;
            color: #333;
        }
        #parts-button{
            display: inline-block;
            background: #333;
            color: #fff;
            text-decoration: none;
            padding: 1em 2em;
            border: 1px solid #666;
            margin: 0.5em 0;
        }
        #parts-button:hover {
            background: #eaeaea;
            color: #333;
        }
        #parts-wrapper {
            min-height: 450px;
            color: #fff;
            text-align: center;
            transform: none;
            perspective: none;
            filter: none;
         }
        #parts-search-button {
            display: inline-block;
            background: #333;
            color: #fff;
            text-decoration: none;
            padding: 1em 2em;
            border: 1px solid #666;
            margin: 0.5em 0;
        }
        #parts-search-input {
            display: inline-block;
            background: #fff;
            color: #333;
            padding: 1em 2em;
            border: 1px solid #666;
            margin: 0.5em 0;
        }
       
        #parts-wrapper .bg-image2 {
            position: absolute;
            background: #333 url("./img/IMG_1786 (2).JPG");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 450px;
            z-index: -1;
            opacity: 0.35;
        }
       
        
        #parts-wrapper .form-info-wrap {
            padding: 0 1.5em;
        }
        .parts-nav-container{
            background:  url("./img/IMG_1786 (2).JPG");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 450px;
            z-index: -1;
        }
        #parts-search-form {
            padding-top: 25px;
        }
        #totalNum0 {
            color: #333;
            z-index: 1;
            background-color: rgba(255, 255, 255, 0.8);
            opacity: .9;
            height: 70px;
            bottom: 0;
            margin: 0.5em auto;
            text-align: center;
            max-width: 300px;
            font-weight: bold;
        }
       
        #totalNum0 h5{
            padding-top: 25px;
        }
        #get-more-parts {
            text-decoration: none;
            padding: 1em 1em;
            margin: 0.5em 0;
            position: fixed;
            z-index: 1;
            color: #fff;
            font-size: 15px;
            background-color: rgba(1, 1, 1, 0.7);
            height: 70px;
            width: 100%;
            bottom: 0;
            right: 0;
        }
        
        #aa-wrapper {
            min-height: 450px;
            color: #fff;
            text-align: center;
            transform: none;
            perspective: none;
            filter: none;
        }
        #aa-search-button {
            display: inline-block;
            background: #333;
            color: #fff;
            text-decoration: none;
            padding: 1em 2em;
            border: 1px solid #666;
            margin: 0.5em 0;
        }
        #aa-search-input {
            display: inline-block;
            background: #fff;
            color: #333;
            padding: 1em 2em;
            border: 1px solid #666;
            margin: 0.5em 0;
        }
        .aa-wrapper .bg-image3 {
            position: absolute;
            background: #333 url("./img/IMG_1786 (2).JPG");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 450px;
            z-index: -1;
            opacity: 0.35;
        }
        #totalNum1 {
            color: #333;
            z-index: 1;
            background-color:rgba(255, 255, 255, 0.8);
            opacity: .9;
            height: 70px;
            bottom: 0;
            margin: 0.5em auto;
            text-align: center;
            max-width: 350px;
            font-weight: bold;
        }
        #totalNum1 h5{
            padding-top: 25px;
        }
        .form-info-wrap h1 {
            font-size: 25px;
            text-decoration: none;
            margin: 0.5em auto;
            margin-bottom: 25px;
            max-width: 350px;
            color: #fff;
            background-color: rgba(1, 1, 1, 0.7);
        }
        .form-info-wrap p{
            font-size: 18px;
            margin: 0;
            padding: .5em;
            color: #333;
            padding-top: .25em;
            font-weight: bold;
            background-color:rgba(255, 255, 255, 0.7);
            margin-left: 10px;
            margin-right: 10px;
        }
        #aa-search-form {
            padding-top: 25px;
        }
        #aa-wrapper .form-info-wrap {
            padding: 0 1.5em;
            position: relative;
        }
        .aa-nav-cont {
            background:  url("./img/IMG_1786 (2).JPG");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 450px;
            z-index: -1;
            
        }
        #aa-result {
            position: absolute;
            top: 480px;
            z-index: -1;
        }
        #get-more-aa {
             text-decoration: none;
            padding: 1em 1em;
            margin: 0.5em 0;
            position: fixed;
            z-index: 1;
            color: #fff;
            font-size: 15px;
            background-color: rgba(1, 1, 1, 0.7);
            height: 70px;
            width: 100%;
            bottom: 0;
            right: 0;
        }
        .gallery-button {
            display: inline-block;
            background: #333;
            color: #fff;
            text-decoration: none;
            padding: 1em 2em;
            border: 1px solid #666;
            margin: 0.5em 0;
       }
        .gallery-button:hover {
            background: #eaeaea;
            color: #333;
       }
        .gallery-button {
            display: inline-block;
            background: #333;
            color: #fff;
            text-decoration: none;
            padding: 1em 2em;
            border: 1px solid #333;
            margin: 0.5em 0;
       }
        .gallery-button:hover {
            background: #eaeaea;
            color: #333;
       }
        #AA-button {
            display: inline-block;
            background: #333;
            color: #fff;
            text-decoration: none;
            padding: 1em 2em;
            border: 1px solid #666;
            margin: 0.5em 0;
       }
        #AA-button:hover {
            background: #eaeaea;
            color: #333;
       }
        .box {
            border: 3px solid black;
       }
       .grid{
           background-color: #EC6E01;
       }
       .card-content {
            padding:10px;
            padding-top: 5px;
       }
        title {
            display: none;
       }
        #parts-page {
            display: none;
       }
        #aa-page {
            display: none;
       }
        #back-page {
            display: none;
       }
        .parts-container {
            margin: 10px;
            padding: 20px;
            max-width: 499px;
            border: 3px solid #333;
            background-color: #fff;
       }
        .parts-search-title, .parts-search-price {
            font-size: 15px;
            color: #333;
            text-decoration: none;
       }
        .aa-container {
            margin: 10px;
            padding: 20px;
            max-width: 499px;
            border: 3px solid #333;
            background-color: #fff;
       }
        .aa-search-title, .aa-search-price {
            font-size: 15px;
            color: #333;
            text-decoration: none;
       }
       .flex-image {
            display: none;
       }
       .secondary-gallery {
            display: none;
       }
       .gallery-head {
            display: flex;
            background-color: rgba(1, 1, 1, 0.7);
            width:100%;
            height: 55px;
            position: absolute;
               top: 35px;
               
        }
        .gallery-head h1 {
            padding-top: 10px;
            padding-bottom: 10px;
            margin-left: auto;
            margin-right: auto;
            font-size: 25px;

        }
        /* media queries  */
       @media only screen and (min-width: 1px) {
        #aa-result {
            position: absolute;
            top: 685px;
            z-index: -1;            
        }
        #parts-result {
            position: absolute;
            top: 685px;
            z-index: -1;            
        }
       
       @media only screen and (min-width: 350px) {
        #aa-result {
            position: absolute;
            top: 640px;
            z-index: -1;            
        }
        #parts-result {
            position: absolute;
            top: 640px;
            z-index: -1;            
        }
       @media only screen and (min-width: 500px) {
        #aa-result {
            position: absolute;
            top: 580px;
            z-index: -1;            
        }
        #parts-result {
            position: absolute;
            top: 580px;
            z-index: -1;            
        }
        /*media query for 600px to 768px screen*/
       @media only screen and (min-width: 600px) {
            body{
                text-align: left;
            }
            .card-content {
                min-height: 220px;
            }
            #parts-page{
                position: relative;
            }
            #parts-button-id{
                position: absolute;
                left:0;
                bottom:0;
            }
           #parts-button {
                display: block;
                width: 225px;
                border: 1px solid #333;
                margin: 0;
                cursor: pointer;
            }
            #aa-button-id{
                position: absolute;
                left:0;
                bottom:0;
            }
            #AA-button {
                display: block;
                width: 225px;
                border: 1px solid #333;
                margin: 0;
                cursor: pointer;
            }
            .gallery-button {
                margin: 0;
                cursor: pointer;
                position: absolute;
                left: 0;
                bottom: 0;
                width: 225px;
                text-align: center;
            }
            #start-form {
                border: none;
            }
            .box {
               border-top: 3px solid #333;
               border-bottom: none;
               border-left: 3px solid #333; 
               border-right: none;
               height: 100%;
               width: 100%;
               min-height: 150px;
               position: relative;
            }
            .card-start {
                display: flex;
            }
            .flex-image {
                display: block;
                flex: 5;
                border-bottom: 3px solid #333;
            }
            .start-info {
                flex: 3;
            }
             #start-form .bg-image {
                display: none;
            } 
            
            .grid ul {
                background: #fff;
            }
            .grid li {
                background: #333;
                margin: 20px 10px;
            }
            .special {
                display: none;
            }
           
            .parts-info {
                display: block;
           }
            #start-form p {
                padding-top: 10px;
           }
            .start-info {
               border-right: 3px solid #333;
           }
            .start-info p {
                
                padding-top: 10px;
                background-color: #fff;
                color: #333;
                padding:10px;
           }
            
            .grid button {
                align-items:center;
                flex:1;
                display:flex;
                margin: 0;
            }
          .bg-flex {
                display: block;
                flex: 2;
                background: #333 url("./img/IMG_1910.JPG");
                
                background-repeat: no-repeat;
                background-size: cover;
                width: 100%;
                height: 100%;
                z-index: -1;
                opacity: 0.8;
            } 
            .wrapper {
                margin: 0;
           }
            #button-nav {
                padding: 0px;
           }
            #button-nav ul {
                list-style: none;
                margin: 0;
                padding: 0;
                display:flex;
           }
            #button-nav li {
                
                flex:2;
           }
            .card-content h3 {
                padding: 10px;
           }
            .button-nav-info {
                background-color: #fff;
                color: #333;
                display: block;
                border: 3px solid #fff;
           }
            .gallery-info {
                background-color: #333;
                color: #fff;
           }
           
            #back-page {
                margin-top: 0px 
           }
      
            #aa-result, #parts-result {
                display: flex;
                flex-wrap: wrap;
                position: absolute;
                top: 480px;
            }
            .aa-container, .parts-container {
                margin: 10px;
                padding: 20px;
                max-width: 245px;
                min-width: 150px;
                border: 3px solid #333;
                background-color: #fff;
                flex: 1;
           }
            .aa-search-title, .aa-search-price, .parts-search-title, .parts-search-price {
                font-size: 15px;
                color: #333;
                text-decoration: none;
           }
            .secondary-gallery {
                display: flex;
                flex-direction: row-reverse;
                padding-bottom: 5px;
            }
            .flex-card4 {
                flex: 1;
                background-color: #fff;
                color: #333;
                position: relative;
           }
            .flex-image2 {
               flex: 1;
               border-right: 3px solid #333;
               border-top: 3px solid #333;
            }
            .bg2-flex {
                display: block;
                
                background: #333 url("./img/bean-bag2.jpg");
                background-position: left center;
                background-repeat: no-repeat;
                background-size: cover;
                width: 100%;
                height: 225px;
                
           } 
            .card-title {
                padding-left: 10px;
           }
           .form-info-wrap{
               text-align: center;
           }
        
           .gallery-page{
               display:flex;
               flex-direction: column;
           }
           
           .gallery-div {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
           }
           .background {
                background:url('./img/bean-bag2.jpg');
                position: relative;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                width: 100%;
                height: 750px;
                z-index: -1;
            }
        
           .layer {
                background-color: rgba(248, 247, 216, 0.7);
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
        }
           .gallery-div{
               display: flex;
               position: absolute;
               top: 90px;
               left: 0;
            }
           .gallery-div img {
                margin: 10px;
                padding: 8px;
                max-width: 245px;
                min-width: 150px;
                background-color: #fff;
                flex: 1;
          }
       } 

       /*media query for 769px plus screen*/
         @media only screen and (min-width: 769px) { 
         .box {
               margin-left: 0;
               margin-bottom: 0;
            }
            #button-nav li {
                display:flex; 
                flex:2;
           }
            .gallery-button {
                display: block;
                width: 225px;
                border: 1px solid #333;
            }
           
            .special{
                height: 100%;
                width: 100%;
                min-height: 150px;

            }
            .bg-flex {
                display: block;
                flex: 2;
                background: #333 url("./img/IMG_1910.JPG");
                 background-position: bottom center; 
                background-repeat: no-repeat;
                background-size: cover;
                width: 100%;
                z-index: -1;
                opacity: 0.8;
            } 
            .secondary-gallery {
                display: none;
            }
        }
        
        @media only screen and (min-width: 850px) {
            .form-info-wrap p {
                margin-left: auto;
                margin-right: auto;
                max-width: 850px;
            }
        }