
        body {
            box-sizing: border-box;
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
            background: #333;
            color: #fff;
            font-size: 1.1em;
            line-height: 1.5;
            text-align: center;
        }
        button {
            cursor: pointer;
        }
        h1, h2, h3 {
            margin: 0;
            padding: 1em 0;
       }
        h5 {
            padding-top: 20px;
       }
        img {
            display: block;
            width: 100%;
            height: auto;
       }
        p {
            margin: 0;
            padding: 1em;
       }
        #start-form {
            min-height: 450px;
            color: #fff;
            text-align: center;
       }
        #start-form .bg-image {
            position: absolute;
            background: #333 url("./img/DSC_0076.JPG");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 450px;
            z-index: -1;
            opacity: 0.5;
       }
        #start-form h1 {
            padding-top: 50px;
            padding-bottom: 0;
            font-size: 40px;
       }
        #start-form .form-info-wrap {
            padding: 0 1.5em;
       }
        #start-form p {
            padding-top: 150px;
       }
        #back-button {
            width: 100%;
            height: 25px;
            background: #333;
            border: #333;
            color: #fff;
            font-size: 13px;
       }
        #button-nav {
            padding: 2em 1em 1em;
       }
        #button-nav ul {
            list-style: none;
            margin: 0;
            padding: 0;
       }
        #button-nav li {
            margin-bottom: 1em;
            background: #fff;
            color: #333;
       }
        #parts-button{
            display: inline-block;
            background: #333;
            color: #fff;
            text-decoration: none;
            padding: 1em 2em;
            border: 1px solid #666;
            margin: 0.5em 0;
       }
        #parts-button:hover {
            background: #eaeaea;
            color: #333;
       }
        #parts-wrapper {
            min-height: 450px;
            color: #fff;
            text-align: center;
       }
        #parts-search-button {
            display: inline-block;
            background: #333;
            color: #fff;
            text-decoration: none;
            padding: 1em 2em;
            border: 1px solid #666;
            margin: 0.5em 0;
       }
        #parts-search-input {
            display: inline-block;
            background: #fff;
            color: #333;
            padding: 1em 2em;
            border: 1px solid #666;
            margin: 0.5em 0;
       }
        #parts-wrapper .bg-image2 {
            position: absolute;
            background: #333 url("./img/IMG_1786 (2).JPG");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 450px;
            z-index: -1;
            opacity: 0.35;
       }
        #totalNum0 {
            padding-top: 150px;
       }
        
        #parts-wrapper .form-info-wrap {
            padding: 0 1.5em;
       }
        #get-more-parts {
            background: #fff;
            color: #333;
            text-decoration: none;
            padding: 1em 2em;
            margin: 0.5em 0;
       }
        #aa-wrapper {
            min-height: 450px;
            color: #fff;
            text-align: center;
       }
        #aa-search-button {
            display: inline-block;
            background: #333;
            color: #fff;
            text-decoration: none;
            padding: 1em 2em;
            border: 1px solid #666;
            margin: 0.5em 0;
       }
        #aa-search-input {
            display: inline-block;
            background: #fff;
            color: #333;
            padding: 1em 2em;
            border: 1px solid #666;
            margin: 0.5em 0;
       }
        .aa-wrapper .bg-image3 {
            position: absolute;
            background: #333 url("./img/IMG_1786 (2).JPG");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 450px;
            z-index: -1;
            opacity: 0.35;
       }
        #totalNum1 {
            padding-top: 200px;
       }
        .form-info-wrap h1 {
            padding-top: 50px;
            padding-bottom: 0;
            font-size: 30px;
       }
        .form-info-wrap p{
            font-size: 18px;
        }
       #aa-wrapper .form-info-wrap {
            padding: 0 1.5em;
        }
        
        #get-more-aa {
            background: #fff;
            color: #333;
            text-decoration: none;
            padding: 1em 2em;
            margin: 0.5em 0;
       }
        #gallery-button {
            display: inline-block;
            background: #333;
            color: #fff;
            text-decoration: none;
            padding: 1em 2em;
            border: 1px solid #666;
            margin: 0.5em 0;
       }
        #gallery-button:hover {
            background: #eaeaea;
            color: #333;
       }
        #gallery-button {
            display: inline-block;
            background: #333;
            color: #fff;
            text-decoration: none;
            padding: 1em 2em;
            border: 1px solid #666;
            margin: 0.5em 0;
       }
        #gallery-button:hover {
            background: #eaeaea;
            color: #333;
       }
        #AA-button {
            display: inline-block;
            background: #333;
            color: #fff;
            text-decoration: none;
            padding: 1em 2em;
            border: 1px solid #666;
            margin: 0.5em 0;
       }
        #AA-button:hover {
            background: #eaeaea;
            color: #333;
       }
        .card-content {
            padding:10px;
            padding-top: 5px;
       }
        title {
            display: none;
       }
        #parts-page {
            display: none;
       }
        #aa-page {
            display: none;
       }
        #gallery-page {
            display: none;
       }
        #back-page {
            display: none;
       }
        .parts-container {
            margin: 10px;
            padding: 20px;
            max-width: 499px;
            border: 3px solid #333;
            background-color: #fff;
       }
        .parts-search-title, .parts-search-price {
            font-size: 15px;
            color: #333;
            text-decoration: none;
       }
        .aa-container {
            margin: 10px;
            padding: 20px;
            max-width: 499px;
            border: 3px solid #333;
            background-color: #fff;
       }
        .aa-search-title, .aa-search-price {
            font-size: 15px;
            color: #333;
            text-decoration: none;
       }
       /* media queries and flex-box */
       /*media query for 500px to 768px screen*/
        @media only screen and (min-width: 500px) {
           /* styling for start page */
            h3 {
                display: none;
           }
            #parts-button {
                cursor: pointer;
           }
            #gallery-button {
                cursor: pointer;
           }
            #AA-button {
                cursor: pointer;
           }
            #start-form .bg-image {
                display: none;
           }
            #start-form {
                background-image: url("./img/DSC_0076.JPG");
                background-size: 100% 100%;
           }
            .grid ul {
                background: #333;
           }
            .grid li {
                background: #333;
                margin: 20px 10px;
           }
            .card1, .card2 {
                width: 100%;
                min-height: 150px;
           }
            .card1:hover {
                background-image: url("./img/IMG_4083.JPG");
                background-size: 100% 100%;
                width: 100%;
                color:#fff;
           }
            .card2:hover {
                background-image: url("./img/FullSizeRender (1).jpg");
                background-size: 100% 100%;
                color:#fff;
                width: 100%;
           }
            .card3:hover {
                background-image: url("./img/pexels-photo-13918_1_.jpg");
                background-size: 100% 100%;
                color:#fff;
           }
            .card1:hover + .parts-info {
                display: block;
           }
            #start-form p {
                padding-top: 10px;
           }
            .start-para p {
                padding-top: 10px;
                margin-top: 210px;
                background-color: #fff;
                color: #333;
                padding:10px;
           }
            .grid button {
                align-items:center;
                flex:1;
                display:flex;
                padding:20px 5px;
           }
            img {
                max-width:100%;
           }
            .wrapper {
                margin: 0;
           }
            #button-nav a {
                display: none;
           }
            #button-nav {
                padding: 0px;
           }
            #button-nav ul {
                list-style: none;
                margin: 0;
                padding: 0;
                display:flex;
           }
            #button-nav li {
                display:flex;
                flex:2;
           }
            .card-content p {
                display: none;
           }
            .card-content h3 {
                padding: 10px;
           }
            .button-nav-info {
                background-color: #fff;
                color: #333;
                display: block;
                border: 3px solid #fff;
           }
            .gallery-info {
                background-color: #333;
                color: #fff;
           }
           
            #back-page {
                margin-top: 0px 
           }
           /* styling for aa page & parts page */
            #aa-result, #parts-result {
                display: flex;
                flex-wrap: wrap;
           }
            .aa-container, .parts-container {
                margin: 10px;
                padding: 20px;
                max-width: 245px;
                min-width: 150px;
                border: 3px solid #333;
                background-color: #fff;
                flex: 1;
           }
            .aa-search-title, .aa-search-price, .parts-search-title, .parts-search-price {
                font-size: 15px;
                color: #333;
                text-decoration: none;
           }
       }
       /*media query for 769px plus screen*/
        @media only screen and (min-width: 769px) { 
           /* styling for start page */
            .button-nav-info {
                display: none;
           }
            #start-page {
                display: flex;
                flex-direction: row;
                height: 100vh;
           }
            .card-start {
                min-height:490px;
           }
            .box {
                min-width: 175px;
                min-height:150px;
           }
            .grid ul {
                display: flex;
                flex-direction: column;
                flex-grow: 2;
           }
            .card-start {
                flex-grow: 2;
           }
            .grid {
                display: flex;
                justify-content: space-around;
           }
            .card1, .card2, .card3 {
                flex-grow: 1;
           }
            #parts-button {
                margin: auto;
                width: 50%;
           }
            .start-para p {
                padding-top: 10px;
                margin: 340px 10px 10px 10px;
                background-color: #fff;
                color: #333;
                padding:10px;
           }
            .box-info {
                display: block;
                background-color: #fff;
                color: #333;
                margin: 10px;
                font-size: 15px;
           }
       }
        